#main_heading{
    font-family: SansSerif;
    padding: 0% 2% 0% 2%;
    font-style: revert;
    text-align: center;
    text-transform: uppercase;
}
#container{
    position: relative;
}

#container > div{
    float:left;
    width:45%;
    margin:10px;
}

div.main{
    background-color: lawngreen;
}
div.apply{
    padding:3%;
    background-color: lightgray;
}

.details{
    padding: 0% 2% 0% 2%;
    background: lightgray;
}

.details > p{
    font-family: Gabriola;
    line-height: 1.5em;
}
#blog{
    position: relative;
}
img {
    width: 85%;
    height: 70%;
    border : black solid 40px;
}

ul li{
    font-family: Gabriola;
}

#hobbies{
    color: orangered;
}

.test{
    color: darkgreen;
    font-family: "Comic Sans MS";
}